<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>

<div class="container">
    {% if book.image %}
    <img src="{{ book.image.url }}" class="book-img"
         onerror="this.onerror=null; this.src='https://via.placeholder.com/800x400?text=No+Image';">
    {% else %}
        <img src="media/default.png" class="medicine-img">
    {% endif %}
</div>

    <h1 class="book-title">{{ book.title}} ({{ book.author_name }} {{ book.author_last_name }})</h1>


    <div class="details">
        <h3>Info: </h3>
        <p><strong>Year:</strong> {{ book.year }}</p>
        <p><strong>Quantity:</strong> {{ book.quantity }}</p>
    </div>



    <a href="{% url 'book-list' %}" class="back-btn">⬅️ Back to List</a><br>
    <a href="{% url 'book-update' book.id %}" class="back-btn">⬅️ Update</a><br>
    <a href="{% url 'book-delete' book.id %}" class="back-btn">⬅️ Delete</a>

</body>
</html>